@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap');

 body{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.App {
  text-align: center;
}

.title{
  background-image: linear-gradient(-45deg, rgb(220, 202, 221), rgb(243, 247, 247));
  padding: 20px;
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
  font-size: 50px;
}

.city{
  background-image: linear-gradient(180deg, rgba(230, 230, 230, 0.918), rgba(247, 247, 247, 0.945));
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 7px;
  border-bottom: 1px black solid;
  
}

.results{
  width: 450px;
  border: black 1px solid;
  margin: 50px auto 30px auto;
  border-radius: 5px;
  box-shadow: 8px 8px 8px rgb(180, 180, 180);
}

.search{
 margin: 40px auto 0 auto;
 text-align: center;

}

input{
  border: black 1px solid;
  padding-left: 5px;
}

.info{
  padding: 10px;
}

.no-results{
  text-align: center;
  margin-top: 50px;
}