@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


body{
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
  width: 350px; 

}

.title{
  background-color: rgb(201, 192, 200);
  padding: 20px;
  text-align: center;
}

.city{
  background-color: rgb(218, 211, 211);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 7px;
  
}

.results{
  width: 350px;
  border: black 1px solid;
  margin: 50px auto 30px auto;
  border-radius: 5px;
  box-shadow: 5px 5px rgb(180, 180, 180);
}

.search{
 margin: 40px auto 0 auto;
 text-align: center;

}

input{
  border: black .1px solid;
  padding-left: 5px;
}

.info{
  padding: 10px;
}